@import url(reset.css);
@import url(variable.css);
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

body {
    display: grid;
    min-height: 100vh;
    grid-template-areas:
        "main"
        "footer"
    ;
    grid-template-rows: 1fr auto;
    font-size: 15px;
    font-family: "Outfit", sans-serif;
    background-color: var(--bg-body);
}

.main-container {
    grid-area: main;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-qr {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 250px;
    padding: 10px;
    height: 400px;
    background-color: var(--bg-card);
    border-radius: 12px;
}

.container-qr figure {
    width: 100%;
    height: 65%;
    margin-top: 5px;
}

.container-qr figure img {
    width: 100%;
    height: 100%;
    border-radius: 12px;

}

.container-qr .section-container .title {
    display: block;
    text-align: center;
    font-size: 17px;
    padding: 7px 7.5px;
    font-weight: 700;
}

.container-qr .section-container .paragraph-1 {
    font-size: 11px;
    color: var(--color-sub);
    font-weight: 400;
    padding: 12px;

}

.attribution {
    grid-area: footer;
}

.attribution p {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}